.footer {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-top {
  margin-bottom: 30px;
}

.footer-top h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-top p {
  font-size: 16px;
  margin-bottom: 20px;
}

.subscribe-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-right: 10px;
}

.subscribe-form button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.footer-middle {
  margin-bottom: 30px;
}

.footer-middle p {
  font-size: 14px;
  margin: 5px 0;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
  text-align: left;
}

.footer-links h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  font-size: 14px;
  margin: 5px 0;
}

.footer-social a {
  color: black;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.footer-social a:hover {
  color: #007bff;
}

.footer-logo {
  font-family: 'Arial, sans-serif';
  font-size: 24px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer-column h3 {
  font-size: 16px;
}

.footer-column ul li a {
  font-size: 14px;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-copyright {
  font-size: 12px;
  color: #777;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  .footer-links {
    justify-content: space-between;
  }

  .footer-column {
    margin: 10px;
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .footer-top p {
    font-size: 14px;
  }

  .footer-column {
    margin: 10px 0;
    flex: 1 1 100%;
  }

  .footer-column h3 {
    font-size: 16px;
  }

  .footer-column ul li a {
    font-size: 12px;
  }

  .social-icons a {
    font-size: 18px;
  }

  .footer-bottom p {
    font-size: 12px;
  }

  .footer-logo {
    font-size: 18px;
  }

  .subscribe-form input {
    width: 200px;
    margin-right: 5px;
  }

  .subscribe-form button {
    padding: 10px 15px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer-top h2 {
    font-size: 20px;
  }

  .footer-top p {
    font-size: 12px;
  }

  .subscribe-form input {
    width: 100%;
    margin-bottom: 10px;
  }

  .subscribe-form button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-column ul li {
    text-align: center;
  }

  .footer-social a {
    font-size: 18px;
    margin: 5px;
  }

  .footer-bottom p {
    font-size: 10px;
  }

  .footer-logo {
    font-size: 16px;
  }
}
